<form class="pf2e-spellprep-dialog">
  <div class="form-group">
    <label>{{localize "PREPPER.popup.namePrompt"}}</label>
    <input type="text" name="name" value="{{name}}" required>
  </div>
  <div class="form-group">
    <label>{{localize "PREPPER.popup.descriptionPrompt"}}</label>
    <textarea name="description">{{description}}</textarea>
  </div>
</form>
